$primary-color: #282c34;
$secondary-color: #919191;

.App {
    max-width: 980px;
    width: 100%;
    padding: 50px;
    margin: auto;
}

.small-text {
    font-size: 11px;
}

.light-text {
    color: $secondary-color;
    font-size: 11px;
}

// MEDIA QUERIES

@media only screen and (max-width: 600px) {
    .App {
        padding: 5px;
        margin: 12px;
        width: auto;
    }

    .item-list-container .item {
        flex-direction: column;
    }
}